/** Kod för nav-iconen uppe till vänster är tagen från Codepen.com ( Menu "Hamburger" Icon Animations av Jesse Couch ) **/

* {
    --dark: #14213d;
    --orange: #fca311;
    --myGray: #e5e5e5;
}

/** General elements **/
a {
    color: white;
    text-decoration: none;
}    


body {
    margin: 0;
    color: white;
    background-color: var(--myGray);
    font-family: 'Roboto', sans-serif;
    background-image: url('/img/bgimg.png');
    background-repeat: repeat;
    background-size: 30%;
    box-sizing: border-box;
}    

.container {
    display: grid;    
    grid-template-columns: 1fr 40vw 40vw;
    grid-template-rows: 75px 5% 900px 4% 10%;
}

/** Media Queries **/

@media screen and (max-width: 500px) {
    aside {
        display: none;
    }    
    #nav-icon1 {
        scale: 0.7;
    }    
    .container {
        grid-template-areas: 
        'hd hd hd'
        '.  .  . '
        'sc sc sc'
        '.  .  . '
        'ft ft ft';
    }
}



@media screen and (min-width: 500px) {
    aside {
        grid-area: as;
        display: flex;
        width: 100%;
        height: 900px;
        background-color: #0a132776;
        flex-direction: column;
        justify-content: space-evenly;
    }    
    section {
        display: flex;
        align-items: center;
        grid-area: sc;
    }    
    .product {
        width: 700px;
    }    
    .container {
        grid-template-areas: 
        'hd hd hd'
        '. .  . '
        'as sc sc'
        'as .  .'
        'ft ft ft';
    }    
}    

/** Header **/

header {
    padding-left: 10px;
    background-color: var(--dark);
    color: white;
    display: flex;
    grid-area: hd;
}    

.burger {
    height: 100%;
    aspect-ratio: 1;
    background-color: black;
}    



.title {
    height: 100%;
    width: 40%;
}    

.icons {
    height: 100%;
    width: 50%;
    margin-right: 10px;
    font-size: 2rem;
    padding-left: 10%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
}    

.link-icon:hover {
    color: #3c4458;
    background-color: var(--myGray);
    scale: 1.1;
}

.link-icon {
    background-color: #3c4458;
    padding: 4px;
    border-radius: 10px;
    transition: 350ms ease;
}

/** Section **/

section {
    grid-area: sc;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/** Footer **/

footer {
    grid-area: ft;
    display: flex;
    font-size: 0.8rem;
    justify-content: space-evenly;
    background-color: var(--dark);
    opacity: 0.9;
    color: white;
    line-height: 5px;
}

footer a {
    color: white;
    text-decoration: none;
    background-color:#3c4458;
}

/** Nav **/

nav {
    position: absolute;
    background-color:#14213de5;
    height: 900px;
    left: -40vw;
    width: 40vw;
    display: flex;
    flex-direction: column;
    gap: 30px;
    z-index: 10;
    transition: left 350ms ease;
    padding-top: 100px;
}

nav a {
    font-size: 21px;
    font-weight: bold;
    padding-left: 20px; 
}

.visible {
    left: 0vw;
}

/** Aside **/

.finished-product {
    width: 100%;
    height: 150px;
    background-color: var(--dark);
    border-radius: 20px;
    display: flex;
    padding: 10px;
    gap: 10px;
    box-shadow: 5px 5px 5px 5px #000000A0;

    
}

aside img {
    width: 60%;
    border-radius: inherit;
}

.yap {
    width: 30%; 
    height: 50%;
    background-color:#0a1327;
    border-radius: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}    

.yap p {
    text-align: center;
}    


/** Product **/

.product {
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: var(--dark);
    color: white;
    padding: 20px;
    height: 400px;
    box-shadow: 5px 5px 5px 5px #000000A0;

}

.product img {
    width: 100%;
    height: 50%;
    object-fit: cover;
    border-radius: 25px;
}
.product button {
    background-color: var(--orange);
    color: white;
    border: none;
    border-radius: 25px;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: 350ms ease;
}


.product button:hover {
    background-color: #ff7b00;
    border-radius: 5px;
    scale: 1.1;
}


/** Burger-menu **/ 

#nav-icon1 {
    width: 60px;
    height: 45px;
    position: relative;
    margin:  auto;
    z-index: 11;
    transform: rotate(0deg);
    transition: .35s ease-in-out;
    cursor: pointer;
  }

  #nav-icon1 span {
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background: var(--orange);
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .35s ease-in-out;
  }


  
#nav-icon1 span:nth-child(1) {
    top: 0px;
  }
  
  #nav-icon1 span:nth-child(2) {
    top: 18px;
  }
  
  #nav-icon1 span:nth-child(3) {
    top: 36px;
  }
  
  #nav-icon1.open span:nth-child(1) {
    top: 18px;
    transform: rotate(135deg);
  }
  
  #nav-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
  }
  
  #nav-icon1.open span:nth-child(3) {
    top: 18px;
    transform: rotate(-135deg);
  }



/** Product page **/


.productbox {
    display: grid;
    height: 800px;
    grid-template-columns: 1fr 43vw 43vw;
    grid-template-rows: 75px 600px 3% 15%;

}


@media screen and (min-width: 700px) {
    .productbox {
        grid-template-areas:
        'hd hd hd'
        'sc s1 s2'
        '.  .  . '
        'ft ft ft';
    }
}


@media screen and (max-width: 500px) {
    .productbox {   
        grid-template-columns: 50% 50%;
        grid-template-rows: 75px 500px 600px 15%;
        grid-template-areas:
        'hd hd'
        's1 s1'
        's2 s2'
        'ft ft';
    }
    .review {
        padding: 0px;
    }
    .left {
        margin-left: 0;
    }

    .right {
        margin-right: 0;
    }
}

#sc1 {
    grid-area: s1;
    text-align: center;
}

#sc1 p {
    width: 70%;
}

#sc2 {
    grid-area: s2;
}


.box {
    height: 90%;
    width: 90%;
    background-color: var(--dark);
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;

}


.box img {
    height: 30%;
    width: 90%;
    border-radius: 15px;

}

.selection {
    display: flex;
    width: 50%;
    height: 40px;  
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    position: relative;
    background-color: var(--myGray);
    color: black;
    border-radius: 20px;
    overflow: hidden;
}

.selected {
    height: 100%;
    width: 50%;
    position: absolute;
    z-index: 2;
    background-color: var(--dark);
    opacity: 0.5;
    transition: 350ms ease;
}


.model, .idea {
    cursor: pointer;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.left {
    transform: translate(-50%);
}

.right {
    transform: translate(50%);
}


#gridBox {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, 33%);
}

.review {
    background-color: var(--myGray);
    margin: 10px;
    border-radius: 20px;
    padding: 15px;
    color: black;
}



/** Cart page **/

.cart-container {
    height: 150%;
    width: 100%;

    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 75px 400px 400px 10%;

    grid-template-areas: 
    'hd hd'
    'i1 in'
    'i2 in'
    'ft ft';
}


#prod1 {grid-area: i1;}
#prod2 {grid-area: i2;}
.product-in-cart {

    background-color: var(--dark);
    margin: auto;
    margin-top: 10%;
    height: 300px; 
    width: 80%;

    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-template-areas: 
    'img inf'
    'img eta';
    overflow: hidden;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 5px 5px 5px 5px #000000A0;

}


.image {
    grid-area: img;
    background-color: white;
    width: 90%;
    height: 90%;
    margin: 5%;
}

.info {
    grid-area: inf;
    background-color: #00011d;
    border-radius: 15px;
    margin: 7px;
    padding-left: 2%;
    line-height: 10px;
}


.eta {
    grid-area: eta;
    background-color:#00011d;
    border-radius: 15px;
    margin: 7px;
    padding-left: 2%;
    line-height: 10px;

}

.image img {
    height: 70%;
    width: 100%;
    margin:auto;
}

.disclaimer {
    font-size: 6px;
}

.shipping {
    grid-area: in;
    background-color: var(--dark);
    height: 80%;
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap:50px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 5px 5px 5px 5px #000000A0;
}
.card {
    margin-top: 15px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}

#cards {
    border: none;
    border-radius: 10px;
    height: 20px;
}

input {
    border-radius: 10px;
}


.pay {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--orange);
    border-radius: 10px;
    cursor: pointer;
    transition: 350ms ease;
}


.pay:hover {
    border-radius: 5px;
    scale: 1.1;
}

#betalning {
    margin-top: 5px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 50%;
}

#cartAdd {
    background-color: var(--orange);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: 350ms ease;
}

#cartAdd:hover {
    background-color: #ff7b00;
    border-radius: 5px;
    scale: 1.1;
}


@media screen and (max-width: 500px) {
    .cart-container {
        grid-template-columns: 50% 50%;
        width: 100%;
        grid-template-rows: 75px 450px 450px 900px 10%;
        grid-template-areas: 
        'hd hd'
        'i1 i1'
        'i2 i2'
        'in in'
        'ft ft';
    }
    .shipping {
        width: 70%;
    }
    .product-in-cart {
        height: 400px;
    }
    .info {
        line-height: 15px;
    }
}


/** About page **/

.bigbox {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 75px 100px 200px 200px 200px 200px 10%;
    width: 100%;
    row-gap: 20px;
    grid-template-areas: 
    'hd hd'
    'h1 h1'
    'q1 if'
    'q2 if'
    'q3 if'
    'q4 if'
    'ft ft';
}

.question {
    width: 400px;
    height: 200px;
    background-color: var(--dark);
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 25px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    overflow: hidden;
    box-shadow: 5px 5px 5px 5px #000000A0;
}

.fraga {
    width: 70%;
    height: 15%;
    background-color: white;
    color: black;
    margin: 10px;
    border-radius: inherit;
    padding: 10px;

}

.svar {
    width: 70%;
    background-color: white;
    color: black;
    height: 45%;
    margin: 5px;
    border-radius: inherit;
    padding: 10px;
}
#q1 {
    grid-area: q1;
}
#q2 {
    grid-area: q2;
}
#q3 {
    grid-area: q3;
}
#q4 {
    grid-area: q4;
}

.yapyap {
    grid-area: if;
    height: 100%;
    width: 90%;
    background-color: var(--dark);
    margin: auto;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 5px 5px 5px 5px #000000A0;
}

h1 {
    grid-area: h1;
    background-color: var(--dark);
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
}

@media screen and (min-width: 500px) {
    h1 {
        font-size: 2rem;
    }
}

@media screen and (max-width: 500px){
    .bigbox {
        grid-template-columns: 50% 50%;
        grid-template-rows: 75px 100px 200px 200px 200px 200px 10%;
        grid-template-areas: 
        'hd hd'
        'h1 h1'
        'q1 q1'
        'q2 q2'
        'q3 q3'
        'q4 q4'
        'ft ft';
    }
    .question {
        width: 90%;
    }
    
}

.yapyap img {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    object-fit: cover;
    margin: auto;
}


.title h1 {
    background-color: transparent;
    transition: 350ms ease;
}
.title h1:hover {
    color: var(--orange);
    background-color: var(--dark);
    scale: 1.1;
}